/* screen - basiccomponentsliderstepsliderbasic */

.basiccomponentsliderstepsliderbasic {
  background-color: var(--white);
  height: 1866px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentsliderstepsliderbasic .group-nAReYS {
  background-color: transparent;
  height: 444px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentsliderstepsliderbasic .group-2-copy-2-k7aJqZ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentsliderstepsliderbasic .table-guide-text1line-JakQvi {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentsliderstepsliderbasic .table-guide-text1line-AXwjIq {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentsliderstepsliderbasic .table-guide-text2line_m-JakQvi {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentsliderstepsliderbasic .group-2-copy-4-k7aJqZ {
  background-color: transparent;
  height: 244px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.basiccomponentsliderstepsliderbasic .color-status-car-k7aJqZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 424px;
  width: 422px;
}

.basiccomponentsliderstepsliderbasic .group-2-copy-6-k7aJqZ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 377px;
  width: 680px;
}

.basiccomponentsliderstepsliderbasic .group-3-k7aJqZ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentsliderstepsliderbasic .group-copy-2-nAReYS {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 932px;
  width: 680px;
}

.basiccomponentsliderstepsliderbasic .group-6-nAReYS {
  background-color: transparent;
  height: 440px;
  left: 419px;
  position: absolute;
  top: 342px;
  width: 671px;
}

.basiccomponentsliderstepsliderbasic .group-9-nAReYS {
  background-color: transparent;
  height: 274px;
  left: 381px;
  position: absolute;
  top: 932px;
  width: 709px;
}

.basiccomponentsliderstepsliderbasic .group-12-nAReYS {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 1356px;
  width: 600px;
}

.basiccomponentsliderstepsliderbasic .group-10-nAReYS {
  background-color: transparent;
  height: 204px;
  left: 381px;
  position: absolute;
  top: 1462px;
  width: 461px;
}

.basiccomponentsliderstepsliderbasic .group-copy-3-n4Q3eW {
  background-color: transparent;
  height: 50px;
  left: 39px;
  position: absolute;
  top: 76px;
  width: 382px;
}

.basiccomponentsliderstepsliderbasic .bar-WnFLGC {
  background-color: var(--white);
  border-radius: 6.82px;
  height: 14px;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  top: 18px;
  width: 382px;
}

.basiccomponentsliderstepsliderbasic .bar-URekay {
  background-color: #ed8566;
  border-radius: 6.82px;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 18px;
  width: 293px;
}

.basiccomponentsliderstepsliderbasic .x3-WnFLGC {
  background-color: transparent;
  height: 9px;
  left: 371px;
  opacity: 0.5;
  position: absolute;
  top: 20px;
  width: 9px;
}

.basiccomponentsliderstepsliderbasic .x3-copy-WnFLGC {
  background-color: transparent;
  height: 9px;
  left: 289px;
  opacity: 0.5;
  position: absolute;
  top: 20px;
  width: 9px;
}

.basiccomponentsliderstepsliderbasic .x3-copy-URekay {
  background-color: transparent;
  height: 9px;
  left: 330px;
  opacity: 0.5;
  position: absolute;
  top: 20px;
  width: 9px;
}

.basiccomponentsliderstepsliderbasic .x3-copy-3-WnFLGC {
  background-color: transparent;
  height: 9px;
  left: 248px;
  position: absolute;
  top: 20px;
  width: 9px;
}

.basiccomponentsliderstepsliderbasic .x3-copy-4-WnFLGC {
  background-color: transparent;
  height: 9px;
  left: 207px;
  position: absolute;
  top: 20px;
  width: 9px;
}

.basiccomponentsliderstepsliderbasic .x0-copy-WnFLGC {
  background-color: transparent;
  height: 9px;
  left: 2px;
  position: absolute;
  top: 20px;
  width: 9px;
}

.basiccomponentsliderstepsliderbasic .x0-copy-2-WnFLGC {
  background-color: transparent;
  height: 9px;
  left: 43px;
  position: absolute;
  top: 20px;
  width: 9px;
}

.basiccomponentsliderstepsliderbasic .x0-copy-3-WnFLGC {
  background-color: transparent;
  height: 9px;
  left: 84px;
  position: absolute;
  top: 20px;
  width: 9px;
}

.basiccomponentsliderstepsliderbasic .x0-copy-4-WnFLGC {
  background-color: transparent;
  height: 9px;
  left: 125px;
  position: absolute;
  top: 20px;
  width: 9px;
}

.basiccomponentsliderstepsliderbasic .x0-copy-5-WnFLGC {
  background-color: transparent;
  height: 9px;
  left: 166px;
  position: absolute;
  top: 20px;
  width: 9px;
}

.basiccomponentsliderstepsliderbasic .scrubber-2-WnFLGC {
  background-color: transparent;
  height: 50px;
  left: 268px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentsliderstepsliderbasic .scrubber-CVRpPg {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentsliderstepsliderbasic .rectangle-copy-11-n4Q3eW {
  background-color: transparent;
  height: 132px;
  left: 39px;
  position: absolute;
  top: 31px;
  width: 384px;
}

.basiccomponentsliderstepsliderbasic .rectangle-copy-9-n4Q3eW {
  background-color: transparent;
  height: 52px;
  left: 39px;
  position: absolute;
  top: 75px;
  width: 384px;
}

.basiccomponentsliderstepsliderbasic .rectangle-copy-10-n4Q3eW {
  background-color: #facf61;
  height: 36px;
  left: 40px;
  opacity: 0.3;
  position: absolute;
  top: 126px;
  width: 381px;
}

.basiccomponentsliderstepsliderbasic .ic-number-copy-3-n4Q3eW {
  background-color: transparent;
  height: 20px;
  left: 40px;
  position: absolute;
  top: 76px;
  width: 20px;
}

.basiccomponentsliderstepsliderbasic .rectangle-k0byJA {
  background-color: #333333;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 20px;
}

.basiccomponentsliderstepsliderbasic .number-k0byJA {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.basiccomponentsliderstepsliderbasic .light_theme01_-compo-n4Q3eW {
  background-color: transparent;
  height: 32px;
  left: 40px;
  position: absolute;
  top: 40px;
  width: 382px;
}

.basiccomponentsliderstepsliderbasic .bar_value_left-WZCAfi {
  background-color: transparent;
  color: #979797;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  opacity: 0.52;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 177px;
}

.basiccomponentsliderstepsliderbasic .bar_value_right-WZCAfi {
  background-color: transparent;
  color: #979797;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 32px;
  left: 205px;
  letter-spacing: 0.00px;
  line-height: 32px;
  opacity: 0.52;
  position: absolute;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: 177px;
}

.basiccomponentsliderstepsliderbasic .rectangle-copy-3-n4Q3eW {
  background-color: #ea71fb;
  height: 21px;
  left: 40px;
  opacity: 0.3;
  position: absolute;
  top: 46px;
  width: 175px;
}

.basiccomponentsliderstepsliderbasic .rectangle-copy-5-n4Q3eW {
  background-color: #ea71fb;
  height: 21px;
  left: 247px;
  opacity: 0.3;
  position: absolute;
  top: 46px;
  width: 174px;
}

.basiccomponentsliderstepsliderbasic .sizeh_r-copy-6-n4Q3eW {
  background-color: transparent;
  height: 18px;
  left: 421px;
  position: absolute;
  top: 62px;
  width: 40px;
}

.basiccomponentsliderstepsliderbasic .group-2UdBx6 {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 40px;
}

.basiccomponentsliderstepsliderbasic .line-2-copy-2-qv6xJF {
  background-color: transparent;
  height: 11px;
  left: 7px;
  position: absolute;
  top: 4px;
  width: 7px;
}

.basiccomponentsliderstepsliderbasic .size-h-r2-copy-4-qv6xJF {
  background-color: transparent;
  height: 17px;
  left: 19px;
  position: absolute;
  top: 1px;
  width: 8px;
}

.basiccomponentsliderstepsliderbasic .x25-WAv7y5 {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.basiccomponentsliderstepsliderbasic .sizeh_r-copy-9-n4Q3eW {
  background-color: transparent;
  height: 17px;
  left: 421px;
  position: absolute;
  top: 30px;
  width: 40px;
}

.basiccomponentsliderstepsliderbasic .group-uBt5hh {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 40px;
}

.basiccomponentsliderstepsliderbasic .line-2-copy-2-0Wjvnl {
  background-color: transparent;
  height: 16px;
  left: 7px;
  position: absolute;
  top: 1px;
  width: 7px;
}

.basiccomponentsliderstepsliderbasic .size-h-r2-copy-4-0Wjvnl {
  background-color: transparent;
  height: 17px;
  left: 19px;
  position: absolute;
  top: 0px;
  width: 8px;
}

.basiccomponentsliderstepsliderbasic .x25-9UXnFb {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.basiccomponentsliderstepsliderbasic .sizeh_r-copy-12-n4Q3eW {
  background-color: transparent;
  height: 38px;
  left: 421px;
  position: absolute;
  top: 125px;
  width: 40px;
}

.basiccomponentsliderstepsliderbasic .group-vO3wGG {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 40px;
}

.basiccomponentsliderstepsliderbasic .line-2-copy-2-9qpn2K {
  background-color: transparent;
  height: 38px;
  left: 7px;
  position: absolute;
  top: -0px;
  width: 7px;
}

.basiccomponentsliderstepsliderbasic .size-h-r2-copy-4-9qpn2K {
  background-color: transparent;
  height: 17px;
  left: 19px;
  position: absolute;
  top: 10px;
  width: 16px;
}

.basiccomponentsliderstepsliderbasic .x25-yVWpC7 {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.basiccomponentsliderstepsliderbasic .group-4-n4Q3eW {
  background-color: transparent;
  height: 136px;
  left: 114px;
  position: absolute;
  top: 68px;
  width: 20px;
}

.basiccomponentsliderstepsliderbasic .line-3-P4SEva {
  background-color: transparent;
  height: 116px;
  left: 10px;
  position: absolute;
  top: -0px;
  width: 2px;
}

.basiccomponentsliderstepsliderbasic .icfont-P4SEva {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 116px;
  width: 20px;
}

.basiccomponentsliderstepsliderbasic .oval-EHVvhE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 20px;
}

.basiccomponentsliderstepsliderbasic .section-title-1_-EHVvhE {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-samsungoneui-600);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 10px;
}

.basiccomponentsliderstepsliderbasic .group-4-copy-n4Q3eW {
  background-color: transparent;
  height: 136px;
  left: 268px;
  position: absolute;
  top: 68px;
  width: 20px;
}

.basiccomponentsliderstepsliderbasic .line-3-mDUIvR {
  background-color: transparent;
  height: 116px;
  left: 10px;
  position: absolute;
  top: -0px;
  width: 2px;
}

.basiccomponentsliderstepsliderbasic .icfont-mDUIvR {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 116px;
  width: 20px;
}

.basiccomponentsliderstepsliderbasic .oval-1zNKZc {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 20px;
}

.basiccomponentsliderstepsliderbasic .section-title-1_-1zNKZc {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-samsungoneui-600);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 10px;
}

.basiccomponentsliderstepsliderbasic .sizeh_r-copy-8-n4Q3eW {
  background-color: transparent;
  height: 27px;
  left: 214px;
  position: absolute;
  top: -4px;
  width: 33px;
}

.basiccomponentsliderstepsliderbasic .size-1WCTA5 {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 33px;
}

.basiccomponentsliderstepsliderbasic .x25-xG7Fov {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.basiccomponentsliderstepsliderbasic .line-2-copy-2-xG7Fov {
  background-color: transparent;
  height: 7px;
  left: -0px;
  position: absolute;
  top: 20px;
  width: 33px;
}

.basiccomponentsliderstepsliderbasic .line-8-copy-14-n4Q3eW {
  background-color: transparent;
  height: 2px;
  left: 39px;
  position: absolute;
  top: 45px;
  width: 382px;
}

.basiccomponentsliderstepsliderbasic .line-8-copy-16-n4Q3eW {
  background-color: transparent;
  height: 36px;
  left: 215px;
  position: absolute;
  top: 32px;
  width: 2px;
}

.basiccomponentsliderstepsliderbasic .line-8-copy-17-n4Q3eW {
  background-color: transparent;
  height: 36px;
  left: 246px;
  position: absolute;
  top: 32px;
  width: 2px;
}

.basiccomponentsliderstepsliderbasic .line-8-copy-13-n4Q3eW {
  background-color: transparent;
  height: 2px;
  left: 39px;
  position: absolute;
  top: 67px;
  width: 382px;
}

.basiccomponentsliderstepsliderbasic .sizeh_r-copy-13-n4Q3eW {
  background-color: transparent;
  height: 132px;
  left: 0px;
  position: absolute;
  top: 31px;
  width: 40px;
}

.basiccomponentsliderstepsliderbasic .group-HckHRD {
  background-color: transparent;
  height: 132px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 40px;
}

.basiccomponentsliderstepsliderbasic .group-3-copy-nAReYS {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 1125px;
  width: 680px;
}

.basiccomponentsliderstepsliderbasic .web-sub_-title-nAReYS {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentsliderstepsliderbasic .web-title-area-nAReYS {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentsliderstepsliderbasic .web-tab-service-feature_-basic-layout-nAReYS {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentsliderstepsliderbasic .x3rd-depth-ugEy5H {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentsliderstepsliderbasic .tab-ugEy5H {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentsliderstepsliderbasic .linear-slider-_-basi-Uwam4j {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 123px;
}

.basiccomponentsliderstepsliderbasic .service-feature-type-Uwam4j {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 113px;
}

.basiccomponentsliderstepsliderbasic .lnb-favorite-card-nAReYS {
  background-color: transparent;
  height: 1402px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .rectangle-GRBTKm {
  background-color: var(--concrete);
  height: 1402px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .background-GRBTKm {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .stacked-group-GRBTKm {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-title-common-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents1dpeth_close-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents1dpeth_close-b3r9Af {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents1dpeth_close-Vadqr2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-copy-2-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-copy-10-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-copy-6-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-copy-11-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-copy-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-copy-7-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-copy-4-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-copy-8-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-copy-9-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-copy-5-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-b3r9Af {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-copy-3-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-copy-12-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents2dpeth-copy-13-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents1dpeth_close-vnXDwx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents1dpeth_open_selected-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .group-copy-BFgafr {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .empty-3qifVL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .line-copy-3qifVL {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentsliderstepsliderbasic .empty-8xGNuk {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-title-common-copy-BFgafr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents1dpeth_close-ktUONC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-contents1dpeth_close-TBiwBy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .group-BFgafr {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .empty-xrGQlR {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .line-copy-xrGQlR {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentsliderstepsliderbasic .empty-xbndIb {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .web-index-title-common-b3r9Af {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepsliderbasic .line-GRBTKm {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentsliderstepsliderbasic .home-net-gui-guidelin-GRBTKm {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentsliderstepsliderbasic .webgnb-nAReYS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentsliderstepsliderbasic .rectangle-sCgvSe {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentsliderstepsliderbasic .background-sCgvSe {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentsliderstepsliderbasic .index-sCgvSe {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentsliderstepsliderbasic .web-index-select-O3ebMC {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentsliderstepsliderbasic .web-index-unselect-O3ebMC {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentsliderstepsliderbasic .web-index-unelect_main-sCgvSe {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentsliderstepsliderbasic .logo-FgpSzd {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
