/* screen - basiccomponentlistexpandablelist */

.basiccomponentlistexpandablelist {
  background-color: var(--white);
  height: 1619px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentlistexpandablelist .group-7-tPAyUx {
  background-color: transparent;
  height: 313px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentlistexpandablelist .group-9-tPAyUx {
  background-color: transparent;
  height: 597px;
  left: 419px;
  position: absolute;
  top: 822px;
  width: 1400px;
}

.basiccomponentlistexpandablelist .group-8-tPAyUx {
  background-color: transparent;
  height: 331px;
  left: 419px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.basiccomponentlistexpandablelist .web-sub_-title-tPAyUx {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentlistexpandablelist .web-title-area-tPAyUx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentlistexpandablelist .web-tab-basic-component_-list-tPAyUx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentlistexpandablelist .x3rd-depth-KzIffl {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponentlistexpandablelist .tab-pxM6VG {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponentlistexpandablelist .list-SG60jn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 23px;
}

.basiccomponentlistexpandablelist .list-with-button-copy-2-SG60jn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentlistexpandablelist .expandable-list-copy-SG60jn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.basiccomponentlistexpandablelist .grid-list-SG60jn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 49px;
}

.basiccomponentlistexpandablelist .lnb-basic-component-tPAyUx {
  background-color: transparent;
  height: 1570px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistexpandablelist .rectangle-UTpy9w {
  background-color: var(--concrete);
  height: 1570px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistexpandablelist .background-UTpy9w {
  background-color: var(--concrete);
  height: 1529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistexpandablelist .rectangle-tAP86Q {
  background-color: var(--concrete);
  height: 1529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistexpandablelist .line-UTpy9w {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentlistexpandablelist .home-net-ui-guideline-UTpy9w {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentlistexpandablelist .stacked-group-UTpy9w {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-title-common-8qoUHE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-8qoUHE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-f6xsHq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-72vht0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_open_selected-8qoUHE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-8qoUHE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-f6xsHq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-72vht0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-qYirQb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-BEq6wq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-zoExxG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-21BJiW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-iEPBnh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-uxIRgI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-rxIXsx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-eHtooN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-WVp8Dh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-xvFTrF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-zk9Twd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-qYirQb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-BEq6wq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-zoExxG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .group-8qoUHE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .empty-hZ079p {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistexpandablelist .empty-Sgx1sk {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistexpandablelist .line-copy-hZ079p {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistexpandablelist .web-index-title-reference-8qoUHE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-21BJiW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-iEPBnh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-uxIRgI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-rxIXsx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-eHtooN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .group-f6xsHq {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistexpandablelist .empty-8BrQEL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistexpandablelist .empty-UTuKvA {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistexpandablelist .line-copy-8BrQEL {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistexpandablelist .web-index-title-reference-f6xsHq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basiccomponentlistexpandablelist .webgnb-tPAyUx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistexpandablelist .rectangle-lxN5xL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistexpandablelist .background-lxN5xL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistexpandablelist .index-lxN5xL {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.basiccomponentlistexpandablelist .web-index-select-aXUo2Q {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.basiccomponentlistexpandablelist .web-index-unselect-aXUo2Q {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.basiccomponentlistexpandablelist .web-index-unelect_main-lxN5xL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlistexpandablelist .logo-9PCbgN {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
