/* screen - basiccomponentdialogstabletdialogs */

.basiccomponentdialogstabletdialogs {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentdialogstabletdialogs .group-3-n3Vm0q {
  background-color: transparent;
  height: 566px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.basiccomponentdialogstabletdialogs .web-sub_-title-n3Vm0q {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentdialogstabletdialogs .web-title-area-n3Vm0q {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentdialogstabletdialogs .web-tab-basic-component_-dialogs-n3Vm0q {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentdialogstabletdialogs .x3rd-depth-aeJs62 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponentdialogstabletdialogs .tab-M46X5R {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponentdialogstabletdialogs .dialogs-Pryakf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 47px;
}

.basiccomponentdialogstabletdialogs .detail-input-popup-copy-Pryakf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 115px;
}

.basiccomponentdialogstabletdialogs .tablet-dialogs-Pryakf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.basiccomponentdialogstabletdialogs .lnb-basic-component-n3Vm0q {
  background-color: transparent;
  height: 1570px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .rectangle-64hI1S {
  background-color: var(--concrete);
  height: 1570px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .background-64hI1S {
  background-color: var(--concrete);
  height: 1529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .rectangle-Y1s0sy {
  background-color: var(--concrete);
  height: 1529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .line-64hI1S {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentdialogstabletdialogs .home-net-ui-guideline-64hI1S {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentdialogstabletdialogs .stacked-group-64hI1S {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-title-common-1WRXcw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-1WRXcw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-CnDaSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-T2Kxrm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_open_selected-1WRXcw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-1WRXcw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-CnDaSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-T2Kxrm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-BSlaKr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-CW3hRr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-7On7Tf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-s70Cnw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-ffn5Op {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-kkM2Ce {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-S0xSGJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-flQ5ek {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-6xSA3i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-FLF6uj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-oJANbd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-BSlaKr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-CW3hRr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-7On7Tf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .group-1WRXcw {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .empty-Qzyivv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .empty-AXhB8F {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .line-copy-Qzyivv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentdialogstabletdialogs .web-index-title-reference-1WRXcw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-s70Cnw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-ffn5Op {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-kkM2Ce {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-S0xSGJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-flQ5ek {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .group-CnDaSE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .empty-zQYzHo {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .empty-j3bp9M {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .line-copy-zQYzHo {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentdialogstabletdialogs .web-index-title-reference-CnDaSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basiccomponentdialogstabletdialogs .webgnb-n3Vm0q {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentdialogstabletdialogs .rectangle-6bQ3W2 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentdialogstabletdialogs .background-6bQ3W2 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentdialogstabletdialogs .index-6bQ3W2 {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.basiccomponentdialogstabletdialogs .web-index-select-CgqeCp {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.basiccomponentdialogstabletdialogs .web-index-unselect-CgqeCp {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.basiccomponentdialogstabletdialogs .web-index-unelect_main-6bQ3W2 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentdialogstabletdialogs .logo-jWwoxS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
