/* screen - basiccomponentstatecomponent */

.basiccomponentstatecomponent {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentstatecomponent .group-2-qZ4WoX {
  background-color: transparent;
  height: 538px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.basiccomponentstatecomponent .web-sub_-title-qZ4WoX {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentstatecomponent .web-title-area-qZ4WoX {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentstatecomponent .web-tab-basic-component_-state-qZ4WoX {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentstatecomponent .x3rd-depth-xeBmJM {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponentstatecomponent .tab-wMxiut {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponentstatecomponent .component-IsZeJH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 72px;
}

.basiccomponentstatecomponent .dialogs-IsZeJH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.basiccomponentstatecomponent .lnb-basic-component-qZ4WoX {
  background-color: transparent;
  height: 1570px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentstatecomponent .rectangle-sYWJqp {
  background-color: var(--concrete);
  height: 1570px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentstatecomponent .background-sYWJqp {
  background-color: var(--concrete);
  height: 1529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentstatecomponent .rectangle-6VwFMR {
  background-color: var(--concrete);
  height: 1529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentstatecomponent .line-sYWJqp {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentstatecomponent .home-net-ui-guideline-sYWJqp {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentstatecomponent .stacked-group-sYWJqp {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-title-common-1xxmha {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents1dpeth_close-1xxmha {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents1dpeth_close-3pHxBJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents1dpeth_close-ryNM4I {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents1dpeth_open_selected-1xxmha {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-1xxmha {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-3pHxBJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-ryNM4I {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-NxYznS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-vBbkVv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-J8Mgab {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-Bth5gc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-9sovdf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-iNid66 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-3LDG6G {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-FGdssq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-NwtBC3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-psx4bd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents2dpeth-iipBv9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents1dpeth_close-NxYznS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents1dpeth_close-vBbkVv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents1dpeth_close-J8Mgab {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .group-1xxmha {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .empty-3M6jj5 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentstatecomponent .empty-63Hyd4 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentstatecomponent .line-copy-3M6jj5 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentstatecomponent .web-index-title-reference-1xxmha {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basiccomponentstatecomponent .web-index-contents1dpeth_close-Bth5gc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents1dpeth_close-9sovdf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents1dpeth_close-iNid66 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents1dpeth_close-3LDG6G {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .web-index-contents1dpeth_close-FGdssq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .group-3pHxBJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentstatecomponent .empty-uTioIp {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentstatecomponent .empty-9kb6JR {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentstatecomponent .line-copy-uTioIp {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentstatecomponent .web-index-title-reference-3pHxBJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basiccomponentstatecomponent .webgnb-qZ4WoX {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentstatecomponent .rectangle-XhrTOj {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentstatecomponent .background-XhrTOj {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentstatecomponent .index-XhrTOj {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.basiccomponentstatecomponent .web-index-select-5qDbgm {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.basiccomponentstatecomponent .web-index-unselect-5qDbgm {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.basiccomponentstatecomponent .web-index-unelect_main-XhrTOj {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentstatecomponent .logo-2Nadhd {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
