/* screen - basiccomponentbuttonbutton */

.basiccomponentbuttonbutton {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentbuttonbutton .group-DpWJTk {
  background-color: transparent;
  height: 264px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentbuttonbutton .group-4-DpWJTk {
  background-color: transparent;
  height: 362px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.basiccomponentbuttonbutton .web-sub_-title-DpWJTk {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentbuttonbutton .web-title-area-DpWJTk {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentbuttonbutton .web-tab-basic-component_-button-DpWJTk {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentbuttonbutton .x3rd-depth-kgJKqR {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentbuttonbutton .tab-kgJKqR {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentbuttonbutton .button-wxihJI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 43px;
}

.basiccomponentbuttonbutton .toggle-button-wxihJI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 86px;
}

.basiccomponentbuttonbutton .x2-buttons-wxihJI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.basiccomponentbuttonbutton .group-button-wxihJI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 86px;
}

.basiccomponentbuttonbutton .bottom-buttons-wxihJI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentbuttonbutton .lnb-basic-component-DpWJTk {
  background-color: transparent;
  height: 1570px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbuttonbutton .rectangle-CS5XxM {
  background-color: var(--concrete);
  height: 1570px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbuttonbutton .background-CS5XxM {
  background-color: var(--concrete);
  height: 1529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbuttonbutton .rectangle-iO7foe {
  background-color: var(--concrete);
  height: 1529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbuttonbutton .line-CS5XxM {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentbuttonbutton .home-net-ui-guideline-CS5XxM {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentbuttonbutton .stacked-group-CS5XxM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-title-common-jYhxDe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents1dpeth_close-jYhxDe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents1dpeth_close-Q24eRi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents1dpeth_close-cY8yf0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents1dpeth_open_selected-jYhxDe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-jYhxDe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-Q24eRi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-cY8yf0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-nxGdce {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-oADHGZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-qQdmIP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-jE7L2v {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-bAHgVB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-enn1xS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-MmMEz6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-MfKT0D {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-l0W6fv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-6dUohX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents2dpeth-Ly7afR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents1dpeth_close-nxGdce {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents1dpeth_close-oADHGZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents1dpeth_close-qQdmIP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .group-jYhxDe {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .empty-NKqpuP {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbuttonbutton .empty-yXqxGM {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbuttonbutton .line-copy-NKqpuP {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbuttonbutton .web-index-title-reference-jYhxDe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basiccomponentbuttonbutton .web-index-contents1dpeth_close-jE7L2v {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents1dpeth_close-bAHgVB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents1dpeth_close-enn1xS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents1dpeth_close-MmMEz6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .web-index-contents1dpeth_close-MfKT0D {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .group-Q24eRi {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbuttonbutton .empty-sOhDpw {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbuttonbutton .empty-7cpApb {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbuttonbutton .line-copy-sOhDpw {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbuttonbutton .web-index-title-reference-Q24eRi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basiccomponentbuttonbutton .webgnb-DpWJTk {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentbuttonbutton .rectangle-cewBeC {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbuttonbutton .background-cewBeC {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbuttonbutton .index-cewBeC {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.basiccomponentbuttonbutton .web-index-select-J2lE8Q {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.basiccomponentbuttonbutton .web-index-unselect-J2lE8Q {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.basiccomponentbuttonbutton .web-index-unelect_main-cewBeC {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentbuttonbutton .logo-p5GPEM {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
