/* screen - basiccomponentsliderstepslider */

.basiccomponentsliderstepslider {
  background-color: var(--white);
  height: 2363px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentsliderstepslider .group-6-lvOKSx {
  background-color: transparent;
  height: 491px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentsliderstepslider .group-10-lvOKSx {
  background-color: transparent;
  height: 580px;
  left: 417px;
  position: absolute;
  top: 983px;
  width: 1406px;
}

.basiccomponentsliderstepslider .group-7-lvOKSx {
  background-color: transparent;
  height: 500px;
  left: 417px;
  position: absolute;
  top: 1663px;
  width: 1406px;
}

.basiccomponentsliderstepslider .group-9-lvOKSx {
  background-color: transparent;
  height: 190px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.basiccomponentsliderstepslider .web-sub_-title-lvOKSx {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentsliderstepslider .web-title-area-lvOKSx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentsliderstepslider .web-tab-basic-component_-slider-lvOKSx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentsliderstepslider .x3rd-depth-OijXxc {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponentsliderstepslider .tab-3VxxfM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponentsliderstepslider .linear-slider-PsXiMm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 79px;
}

.basiccomponentsliderstepslider .step-slider-PsXiMm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.basiccomponentsliderstepslider .lnb-basic-component-lvOKSx {
  background-color: transparent;
  height: 1570px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentsliderstepslider .rectangle-zb5Ffu {
  background-color: var(--concrete);
  height: 1570px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentsliderstepslider .background-zb5Ffu {
  background-color: var(--concrete);
  height: 1529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentsliderstepslider .rectangle-sMB4sD {
  background-color: var(--concrete);
  height: 1529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentsliderstepslider .line-zb5Ffu {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentsliderstepslider .home-net-ui-guideline-zb5Ffu {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentsliderstepslider .stacked-group-zb5Ffu {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-title-common-duXVn4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents1dpeth_close-duXVn4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents1dpeth_close-et32ya {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents1dpeth_close-JwMhqa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents1dpeth_open_selected-duXVn4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-duXVn4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-et32ya {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-JwMhqa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-QXehB1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-xxEZh8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-yTcOIM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-YzaLju {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-x3x7v3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-QYoy3G {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-Z2Mupx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-gxpBcY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-gOdtQX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-w1RTaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents2dpeth-ECi2IU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents1dpeth_close-QXehB1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents1dpeth_close-xxEZh8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents1dpeth_close-yTcOIM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .group-duXVn4 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .empty-wRDxQe {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentsliderstepslider .empty-wrAGiV {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentsliderstepslider .line-copy-wRDxQe {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentsliderstepslider .web-index-title-reference-duXVn4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basiccomponentsliderstepslider .web-index-contents1dpeth_close-YzaLju {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents1dpeth_close-x3x7v3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents1dpeth_close-QYoy3G {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents1dpeth_close-Z2Mupx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .web-index-contents1dpeth_close-gxpBcY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .group-et32ya {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentsliderstepslider .empty-DKgkoZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentsliderstepslider .empty-evJxu5 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentsliderstepslider .line-copy-DKgkoZ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentsliderstepslider .web-index-title-reference-et32ya {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basiccomponentsliderstepslider .webgnb-lvOKSx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentsliderstepslider .rectangle-aVHwQ0 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentsliderstepslider .background-aVHwQ0 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentsliderstepslider .index-aVHwQ0 {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.basiccomponentsliderstepslider .web-index-select-wJdjaW {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.basiccomponentsliderstepslider .web-index-unselect-wJdjaW {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.basiccomponentsliderstepslider .web-index-unelect_main-aVHwQ0 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentsliderstepslider .logo-bju6xq {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
