/* screen - basiccomponentgraphgraphwithunit */

.basiccomponentgraphgraphwithunit {
  background-color: var(--white);
  height: 2183px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentgraphgraphwithunit .group-21-kcvPnW {
  background-color: transparent;
  height: 974px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.basiccomponentgraphgraphwithunit .group-18-kcvPnW {
  background-color: transparent;
  height: 517px;
  left: 417px;
  position: absolute;
  top: 1466px;
  width: 1406px;
}

.basiccomponentgraphgraphwithunit .web-sub_-title-kcvPnW {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentgraphgraphwithunit .web-title-area-kcvPnW {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentgraphgraphwithunit .web-tab-basic-component_-graph-kcvPnW {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentgraphgraphwithunit .x3rd-depth-B0DwQf {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponentgraphgraphwithunit .tab-11TvxY {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponentgraphgraphwithunit .graph-rmxj4x {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 38px;
}

.basiccomponentgraphgraphwithunit .graph-with-unit-rmxj4x {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.basiccomponentgraphgraphwithunit .lnb-basic-component-kcvPnW {
  background-color: transparent;
  height: 1570px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .rectangle-CpcdgN {
  background-color: var(--concrete);
  height: 1570px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .background-CpcdgN {
  background-color: var(--concrete);
  height: 1529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .rectangle-2O6vvW {
  background-color: var(--concrete);
  height: 1529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .line-CpcdgN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentgraphgraphwithunit .home-net-ui-guideline-CpcdgN {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentgraphgraphwithunit .stacked-group-CpcdgN {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-title-common-k0wjEh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-k0wjEh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-gj1G6l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-1ULxzK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_open_selected-k0wjEh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-k0wjEh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-gj1G6l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-1ULxzK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-zv8gVn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-TVdAvv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-DhehYK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-b8Qux8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-GdWTDA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-CtYhxa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-RjvtvF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-nX522h {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-to4pbx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-VRLZHk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-jxeNZR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-zv8gVn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-TVdAvv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-DhehYK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .group-k0wjEh {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .empty-rnCAtA {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .empty-5CKPPI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .line-copy-rnCAtA {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentgraphgraphwithunit .web-index-title-reference-k0wjEh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-b8Qux8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-GdWTDA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-CtYhxa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-RjvtvF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-nX522h {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .group-gj1G6l {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .empty-TRtfzP {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .empty-1MJSKB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .line-copy-TRtfzP {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentgraphgraphwithunit .web-index-title-reference-gj1G6l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basiccomponentgraphgraphwithunit .webgnb-kcvPnW {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphgraphwithunit .rectangle-iWTUyv {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphgraphwithunit .background-iWTUyv {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphgraphwithunit .index-iWTUyv {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.basiccomponentgraphgraphwithunit .web-index-select-Cp9dCY {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.basiccomponentgraphgraphwithunit .web-index-unselect-Cp9dCY {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.basiccomponentgraphgraphwithunit .web-index-unelect_main-iWTUyv {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentgraphgraphwithunit .logo-iuoJzx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
